.listItem{
    width: 80%;
    margin: auto;
    text-align: center;
    border: 1px solid black;
    padding: 5px;
    margin-top: 10px;
}

#r{
    width: 30%;
    display: inline-block;
}

#s{
    width: 60%;
    display: inline-block;
}